.footer {
  width: 100%;
  background-color: #000;
}

.footer_container {
  height: 45vh;
  display: flex;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2em;

  &_icons {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  & h6 {
  }

  & ul {
    display: flex;
  }

  & li {
    list-style: none;
    margin: 0 15px 0 15px;
    & svg {
      font-size: 1.3em;
    }
  }
}

// Everything is fine, without conflict
