// امین جان سلام
// طراحان وب سایز های مختلفی از مدیا کوئری رو استفاده میکنن و استاندارد خاصی نداره
// ولی من بنا به تجربه و دیدن کدهای بقیه به این فایل رسیدم
// این فایل رو بهتره توی سیستمت ذخیره داشته باشی به راحتی همه جا استفاده کنی
// بالای هر کوئری توضیحاتشو نوشتم که برای چه دستگاهی هست
// معمولا برای مشخص شدن یه بک گراند متفاوت هم به هر سایز دادم که بعدا پاک میکنیم

//========================================================


// کلاس برای زمانی که منو دراپ دان باز شود

.body_drop_dwon_menu_class{

     overflow: hidden !important;
    height: 100% !important;

}



    
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  body {
    background-color: red;
  }
}

//========================================================

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    // background-color: blue;
  }
}

//========================================================

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: green;
  }
}

//========================================================

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    background-color: black;

  }

  .footer_container{


    &_sign_up_form{


      ::after {
        content: "";
        position: absolute;
        top: -20px;
        width: 90%;
        left: 20px;
        transform: rotate(90deg);
        transform-origin: 0;
        border-top: 1px solid #636364;
      }
  
    }

    &_info{

      &_left{
        
        ::after {
          content: "";
          position: absolute;
          top: -20px;
          width: 180%;
          left: 0;
          transform: rotate(90deg);
          transform-origin: 0;
          border-top: 1px solid #484849;
        }
      }
    }

  
    
  }
}

//========================================================

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 711px) and (max-width: 767px) {

  body {
    background-color: yellow;
    
  }

  .header_container_left_nav{

    &_user{
      display: none;
    }

    &_strix{

      display: none;
    }
  }

  .header_container_right{

    // width: 70%;
    flex-direction: row-reverse;
    justify-content: space-between;

    &_nav{

      display: none;
    }
    &_logo{

      margin-top: 0;

    }

    &_menu{

      display: block;
      padding: 10px;
      position: relative;

      &_items{

        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        top: 3em;
        right: 0;
        background-color: black;
        z-index: 10;
        transition: background-color 3s linear 3s;
}
  
        & li{
          list-style: none;
          padding: 1em;
          border-top: 1px solid #636364;
        }
  
       }

  }


  .footer_container{

    &_sign_up_form{


      ::after {
        content: "";
        position: absolute;
        top: -20px;
        width: 90%;
        left: 20px;
        transform: rotate(90deg);
        transform-origin: 0;
        border-top: 1px solid #636364;
      }
  
    }

    &_info{

      &_left{

        ::after {
          content: "";
          position: absolute;
          top: -20px;
          width: 180%;
          left: 0;
          transform: rotate(90deg);
          transform-origin: 0;
          border-top: 1px solid #484849;
        }
      }
    }
    
  }


 

}


//========================================================

/* 
 ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px

  **** مدیا پایین رو من اضافه کردم چون در این ابعاد برای 
  این پروژه بهم ریختگی زیادی در فوتر داشتیم
*/


@media (min-width: 481px) and (max-width: 710px) {

  body{
    background-color: #96ec0b;
    // overflow: hidden !important;
    // height: 100% !important;
  }


  
  .header_container_left_nav{

    &_user{
      display: none;
    }

    &_strix{

      display: none;
    }
  }

  .header_container_right{

    // width: 70%;
    flex-direction: row-reverse;
    justify-content: space-between;

    &_nav{

      display: none;
    }
    &_logo{

      margin-top: 0;

    }

    &_menu{

      display: block;
      padding: 10px;
      position: relative;

      &_items{

        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        top: 3em;
        right: 0;
        background-color: black;
        z-index: 10;
        transition: background-color 3s linear 3s;
}
  
        & li{
          list-style: none;
          padding: 1em;
          border-top: 1px solid #636364;
        }
  
       }
      
    }


  }
  

  

  .footer_container { 

    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: .5em;


    &_sign_up{

      align-items: center;
      border-bottom: 1px solid #636364;
      padding:1em;
     

      &_form{

        ::after {
          display: none;
        }

      }
    
  
    }

    &_info{

      align-items: center;
      border-bottom: 1px solid #636364;
      width: auto;
      padding:1em;
     


      &_left{

        ::after {
        
          display: none;
        }
      }
    }

    &_social_media{

      align-items: center;
      padding: 1em;
    }

  }




  .footer_base_container{

    flex-wrap: wrap;
    justify-content: center;
  }




//========================================================

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-color: gray;
  }



  .header_container_left_nav{

    &_user{
      display: none;
    }

    &_strix{

      display: none;
    }
  }

  .header_container_right{

    // width: 70%;
    flex-direction: row-reverse;
    justify-content: space-between;


    &_nav{

      display: none;
    }
    &_logo{

      margin-top: 0;

    }

    &_menu{

      display: block;
      padding: 10px;
      position: relative;

      &_items{

        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        top: 3em;
        right: 0;
        background-color: black;
        z-index: 10;
        transition: background-color 3s linear 3s;
}
  
        & li{
          list-style: none;
          padding: 1em;
          border-top: 1px solid #636364;
        }
  
       }

  }




  .footer_container { 

    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: .5em;


    &_sign_up{

      align-items: center;
      border-bottom: 1px solid #636364;
      padding:1em;
     

      &_form{

        ::after {
          display: none;
        }

      }
    
  
    }

    &_info{

      align-items: center;
      border-bottom: 1px solid #636364;
      width: auto;
      padding:1em;
     


      &_left{

        ::after {
        
          display: none;
        }
      }
    }

    &_social_media{

      align-items: center;
      padding: 1em;
    }

  }



  .footer_base_container{

    flex-wrap: wrap;
    justify-content: center;
  }


}
