// امین جان سلام
// طراحان وب سایز های مختلفی از مدیا کوئری رو استفاده میکنن و استاندارد خاصی نداره
// ولی من بنا به تجربه و دیدن کدهای بقیه به این فایل رسیدم
// این فایل رو بهتره توی سیستمت ذخیره داشته باشی به راحتی همه جا استفاده کنی
// بالای هر کوئری توضیحاتشو نوشتم که برای چه دستگاهی هست
// معمولا برای مشخص شدن یه بک گراند متفاوت هم به هر سایز دادم که بعدا پاک میکنیم

//========================================================
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  body {
    background-color: red;
  }
}

//========================================================

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background-color: blue;
  }
}

//========================================================

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: green;
  }
}

//========================================================

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    background-color: black;
  }
}

//========================================================

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: yellow;
    
  }
  .header_container_left_nav{

    &_user{
      display: none;
    }

    &_strix{

      display: none;
    }
  }
}

//========================================================

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-color: gray;
  }
}
